body {
    background: #111;
    color: #fff;
    font-family: Arial;
    margin: 0;
}

header {
    background: #000;
    padding: 20px;
    color: gold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: gold;
    margin: 0 10px;
    text-decoration: none;
}

.banner {
    text-align: center;
    padding: 60px;
    background: linear-gradient(black, #222);
    color: gold;
}

.produto {
    background: #1a1a1a;
    border: 1px solid gold;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    width: 250px;
}

.produto img {
    width: 100%;
}

button {
    background: gold;
    border: none;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
}
