 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #111;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #000;
    border-bottom: 2px solid #D4AF37;
}

header .logo {
    width: 140px;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #D4AF37;
}

.titulo {
    text-align: center;
    margin: 30px 0;
    color: #D4AF37;
    font-size: 28px;
}

/* Slider */
.slider {
    max-width: 100%;
    position: relative;
}

.slide img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

/* Cards */
#lista-produtos, #lista-destaques, #lista-promocoes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.card {
    background: #000;
    border: 2px solid #D4AF37;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.card button {
    width: 100%;
    padding: 10px;
    background: #D4AF37;
    border: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
}

/* Responsivo */
@media(max-width: 700px) {
    header {
        flex-direction: column;
    }

    nav a {
        margin: 5px;
    }
}
